body{
	background-color: rgb(152, 103, 179);
	white-space: nowrap;
    overflow:auto;
    color:white;
}
.boards{
    margin-top: 20px;
}
span{
	color: black;
}
.navBoard{
	background-color: #745286;
    text-align: center;
    height: 45px;
    margin-top:0;
    padding:5px;
}
p{
    width:80px;
    color: rgb(32, 28, 28);
}
.board{
    color:rgb(207, 230, 245);
    font-weight: 800;
    padding: 10x;
    height:80px;
    background-color: #D6D4DC;
    border-radius: 5px;
    margin-bottom: 5px;
}

.list{
    display:inline-block;
    margin:5px;
    justify-content: center;
    font-weight: 600;
    width:250px;
    color:rgb(44, 44, 44);
    border-radius:5px;
    background-color: #D6D4DC;
}
.board-view{
    overflow:auto;
    height: 87vh;
}
.board-view > div{
    vertical-align: top;
}
.card{
    width:90%;
    margin: 10px;
    font-weight: 100;
    background: white;
    color:#666;
	border-radius: 5px;
	border:0;
    padding: 6px;
    margin-bottom:10px;
}

.p-margin{
    margin: 10px;
}
.newcard{
	width:90%;
	font-size: 12px;
}
.btn-add{
    margin:10px;
    border:0;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}
.btn-link-cancel{
    border:0;
    background:none;
    color:rgb(241, 120, 120);
}
.btn-new-list{
	color:#ccc;
	text-align: left;
	background: #745286;
	border:0;
	border-radius: 5px;
	padding: 10px;
	width:250px;
	margin:5px;
	margin-right: 20px;
}
.size-input{
	font-size:14px;
}
.btn-new-board{
	color:#ccc;
	text-align: left;
	background: #745286;
	border:0;
	border-radius: 5px;
	padding: 10px;
	width:100%;
	margin-right: 20px;
}
.btn-new-board:hover{
	background: #634175;
}
.addBoard{
	
	border-radius: 4px;
	color:#777;
	background-color: #E2E4E6;
}
.btn-new-board:hover{
	background: #634175;
}
.addBoard{
	
	border-radius: 4px;
	color:#777;
	background-color: #E2E4E6;
}
